@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@300&family=Roboto:wght@100&display=swap');
body{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 600px;
    background: linear-gradient(to bottom right, rgb(127, 127, 240), pink);
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
}
.mainSection{
    width: 900px;
    height: 500px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 6%;
    border: 1px solid transparent;
    border-radius: 20px;
    background-color: white;
    padding: 0;
    display: flex;
    flex-direction: row;
}
#part_left{
    padding-left: 3%;
    display: flex;
    flex-direction: column;
    margin-right: 0;
}
#part_left #more{
    width: 630px;
    height: auto;
    margin-top: 25%;
    margin-left: auto;
    margin-right: auto;
    font-size: 30px;
    text-align: center;
    font-family: roboto;
    cursor: pointer;
    display: none;
}
#part_left #more img{
    width: 25px;
    height: 25px;
    margin-left: 5%;
}
#part_left h1{
    font-size: 23px;
    font-family: 'Cairo', sans-serif;
}
#art{
    display: flex;
    flex-direction: column;
    width: auto;
}
#article{
    margin-top: 4%;
    display: flex;
    flex-direction: row;
}
#article img{
    width: 120px;
    height: 100px;
}
#description{
    padding-left: 5%;
    padding-top: 3%;
}
#description h2, #description h3{
    font-family: 'Roboto', sans-serif;
    width: 220px;
}
#description h2{
    line-height: 5px;
    font-size: 17px;
}
#description h3{
    font-size: 13px;
}
#plus_moins{
    display: flex;
    flex-direction: row;
    margin-top: 6%;
    margin-left: 5%;
    width: 150px;
}
#plus_moins img{
    width: 10px;
    height: 9px;
    margin-top: 3%;
    cursor: pointer;
}
#plus_moins img:nth-child(1){
    margin-right: 15%;
}
#count{
    width: 15px;
    height: 17px;
    border: 1px solid rgba(83, 83, 83, 0.308);
    margin-right: 10%;
    text-align: center;
}
#article p{
    margin-top: 5.5%;
    margin-left: 5%;
    font-size: 17px;    
    font-family: 'Roboto', sans-serif;
}
#article #delike{
    margin-left: 5%;
    display: flex;
    flex-direction: row;
    margin-top: 5%;
}
#article #delete, #article #like1, #article #like2{
    width: 20px;
    height: 20px;
    cursor: pointer;
}
#article #like2{
    display: none;
}
#article #delike #delete{
    padding-right: 40%;
}
#art hr{
    border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    width: 630px;
} 
#part_right{
    margin-top: -0.1%;
    margin-bottom: -0.1%;
    margin-right: -0.1%;
    margin-left: auto;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    padding: 0;
    width: 200px;
    height: auto;
    background-color: rgba(95, 158, 160, 0.404);
    position: relative;
}
#part_right h1{
    font-size: 23px;
    font-family: 'Cairo', sans-serif;
    padding-left: 10%;
}
#part_right img{
    width: 150px;
    height: 130px;
    margin-top: 15%;
    margin-left: 10%;
}
#part_right input{
    margin-top: 13%;
    border: none;
    background-color: rgba(128, 128, 128, 0.151);
    font-size: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-left: 9%;
    padding-right: 2%;
    width: 160px;
}
#part_right input:focus{
    outline: none;
}
#part_right hr{
    border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.198);
    border-bottom: 1px solid rgba(255, 255, 255, 0.041);
    width: 195px;
    margin-top: 10%;
}
#part_right h3{
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    text-align: center;
    margin-top: 25%;
    line-height: 1px;
}
#part_right p{
    font-family: sans-serif;
    font-size: 20px;
    text-align: center;
    font-weight: bold;
}
#part_right button{
    border: none;
    background-color: #3b5998;
    color: white;
    border-radius: 3px;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    width: 150px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
}
#part_right #done{
    width: 50px;
    height: 50px;
    padding: 0;
    margin: 0;
    margin-top: -3%;
    margin-left: 39%;
    display: none;
}